.save-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;

	.save-btn {
		width: 250px;
		height: 60px;
		background-color: rgb(27, 153, 211);
		border: none;
		border-radius: 15px;
		cursor: pointer;
		font-size: x-large;

		&:hover {
			background-color: rgba(27, 153, 211, 0.68);
		}
	}
}