.createTitle-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 500px;
	margin-bottom: 25px;

	.GPT-response-container {
		width: 600px;
		height: 200px;
		background-color: rgb(5, 165, 165);
		border-radius: 50px;
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.createTitle-btn-container {

		.createTitle-btn {
			background-color: rgb(52, 197, 30);
			border-radius: 5px;
			padding: 15px 20px;
			cursor: pointer;
			margin-left: 30px;
			border: none;

			&:hover {
				background-color: rgba(52, 197, 30, 0.788);
			}
		}
	}
}